---
day             : __DAY__
date            : __DATE__

billing-units:
- number	      : 118
  title		      : ASDC
  hours		      :
  features:
  - ticket	    : APB-1795 (MISR)
    description : Daily checks and resolutions
    tasks	      : |
  - ticket	    : APB-1797 (MAIA)
    description : ASDC-related tasks for MAIA
    tasks	      : |
  - ticket	    : APB-1798
    description : Mission status, meetings
    tasks	      : |
- number	      : 120
  title		      : MAIA
  hours		      :
  features:
  - ticket	    : MAIA-0000
    description : Non-ASDC MAIA-related tasks
    tasks	      : |

